/*css reset*/
/*body{*/
    /*min-width: 1226px;*/
/*}*/
*{
    margin: 0;
    padding: 0;
}
ul, ol, dl{
    list-style: none;
}
a{
    text-decoration: none;
}
.wrapper{
    width: 1226px;
    margin: 0 auto;
}
/*css reset结束*/

/*公共样式*/
#go-top{
    width: 35px;
    height: 74px;
    background: url("../img/go-top.jpeg") -22px 0 no-repeat;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
}
#go-top:hover{
    background: url("../img/go-top.jpeg") -113px 1px no-repeat;
}
/*banner开始*/
.banner{
    height: 120px;
    background: url("../img/cms_1507906806588_Fxrqj (1).jpg")no-repeat 50% 50%;
}
.banner a{
    display: block;
    width: 100%;
    height: 100%;
}
/*banner结束*/
/*nav开始*/
.nav{
    height: 40px;
    background: #333333;
}
.main-menu{
    overflow: hidden;
    float: left;
}
.nav li{
    float: left;
    height: 40px;
    line-height: 40px;
}
.nav a{
    color: #b0b0b0;
    font-size:12px;
}
.nav a:hover{
    color: #ffffff;
}
.nav .sep{
    margin:0 6px;
    color: #424242;
}
.user-info{
    float: right;
}
.cart{
    position: relative;
    width: 120px;
    text-align: center;
}
.cart a{
    width: 100%;
    height: 100%;
    display: block;
    background: #424242;
}
.cart a:hover{
    background: #ffffff;
    color: #ff6700;
}
.cart:hover .cart-box{
    display: block;
    animation:show 0.5s ease-in forwards ;
}
@keyframes show {
    100%{
        height: 85px;
    }
}
.cart-box{
    width: 316px;
    height: 0;
    padding-top: 15px;
    position: absolute;
    right: 0;
    top: 40px;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    border: 1px solid #e0e0e0 \9;
    display: none;
    z-index: 5;
}
/*nav结束*/
/*header开始*/
.myshop{
    position: relative;
    float: left;
    width: 185px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #2196f3;
    font-size: 32px;
    cursor: pointer;
}
.myshop span{
    position: absolute;
    left: 45px;
    top: 35px;
    font-size:5px;
}
.myshop #myshop-span{
    color: #ff6700;
}
.header{
    height: 100px;
    position: relative;
}
.header-logo{
    width: 55px;
    height: 55px;
    margin-top: 22px;
    background: url("../img/mi-logo.png") center center no-repeat #ff6700;
    float: left;
}
.header-menu{
    float: left;
    /*margin-left: 185px;*/
    height: 100px;
    line-height: 100px;
}
.menu-item{
    float: left;
    padding:0 10px;
}
.header-menu .menu-item a{
    color: #333;
}
.header-menu .menu-item a:hover{
    color: #ff6700;
}
.header-menu .menu-item:hover .sub-menu {
    display: block;
    animation:shows 0.5s ease forwards;
    background: #ffffff;
}
@keyframes shows{
    100%{
        height: 226px;
    }
 }
.sub-menu{
    width: 100%;
    height: 0;
    border-top:1px solid #e0e0e0;
    position:absolute;
    left: 0;
    top: 100px;
    box-shadow: 0 2px 3px 0px rgba(0,0,0,0.2);
    overflow:hidden;
    display: none;
    z-index: 2;
}
.sub-menu ul{
    overflow: hidden;
    width: 1224px;
    margin: 0 auto;
}
.sub-menu li{
    width: 204px;
    height: 201px;
    float: left;
    text-align: center;
    position: relative;
}
.flags{
    height: 18px;
    line-height: 18px;
    margin-bottom: 12px;
}
.flags span{
    color: #ff6700;
    border: 1px solid #ff6700;
    font-size: 12px;
    padding: 1px 12px;
}
.p-img{
    display: block;
    height:110px;
    margin-bottom: 12px;
}
.p-title{
    color: #333;
    height: 20px;
    line-height: 20px;
    font-size:12px;
}
.p-price{
    color:#ff6700;
    height: 20px;
    line-height:20px;
    font-size: 12px;
}
.p-line{
    width: 1px;
    height: 100px;
    background: #e0e0e0;
    position: absolute;
    right: 0;
    top: 35px;
}
.search{
    width: 296px;
    height: 50px;
    float: right;
    margin-top:20px;
    position:relative;
}
#search-box{
    display: none;
    position: absolute;
    top: 50px;
    width: 242px;
    border: 1px solid #ff6700;
    border-top: 0;
    background: #fff;
    z-index: 10;
}
#search-box a{
    display: block;
    position: relative;
    padding: 6px 15px;
    font-size: 12px;
    color: #424242;
}
#search-box a span{
    position: absolute;
    right: 15px;
    top: 6px;
    color: #b0b0b0;
}
.search-txt{
    width: 222px;
    height: 48px;
    border:1px solid #e0e0e0;
    outline: none;/*去掉搜索框蓝边*/
    padding:0 10px;
    float: left;
}
.search-btn{
    width: 52px;
    height: 50px;
    float: left;
    border:1px solid #e0e0e0;
    border-left:0;
    cursor: pointer;/*呈现小手图标*/
    position:relative;
    background: transparent;/*透明色*/
    outline: none;
    z-index:1;
}
.search-btn:hover+i{
    background:#ff6700;
    color:#fff;
}
.icon-icon{
    right: 0;
    top: 0;
    width: 52px;
    height: 50px;
    display: block;
    line-height: 50px;/*行高等于高，垂直居中*/
    text-align: center;/*水平居中*/
    position: absolute;
}
.search-hot-words{
    position: absolute;
    top: 17px;
    right: 62px;
    font-size: 12px;
    position: absolute;
}
.search-hot-words a{
    display: inline-block;
    margin-left: 5px;
    padding:0 5px;
    font-size: 12px;
    background: #eee;
    color: #757575
}
.search-hot-words a:hover{
    background: #ff6700;
    color:#fff
}
/*header结束*/
