body{
    height: 9999px;
}
/*轮播图开始*/
.slide-box{
    position: relative;
}
.slide{
    position:relative;
    height: 460px;
}
.img-box img{
    position: absolute;
    width: 1226px;
    height: 460px;
    left: 0;
    top: 0;
}
.prev-btn,.next-btn{
    top: 50%;
    margin-top: -34.5px;
    position: absolute;
    font-size: 50px;
    width: 41px;
    height: 69px;
    line-height: 69px;
    text-align: center;
    color: #757575;
    border-radius: 2px;/*边框圆角*/
}
.prev-btn{
    left: 234px;
}
.next-btn{
    right: 0;
}
.prev-btn:hover,.next-btn:hover{
    color: #fff;
    background: rgba(3,3,3,0.5);
    cursor: pointer;
}
.btns li{
    width: 6px;
    height: 6px;
    background: #232429;
    border:2px solid #65666b;
    float: left;
    margin-right: 10px;
    border-radius: 50%;
}
.btns li:hover{
    background: #898a8e;
    border:2px solid #4f4e56;
    cursor: pointer;
}
.btns{
    position: absolute;
    width: 150px;
    height: 17.6px;
    right: 0;
    bottom:20px;
}
.list{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: rgba(3,3,3,0.6);
    padding: 20px 0;
    width: 234px;
}
.list-item>a{
    display: block;
    height: 42px;
    line-height: 42px;
    padding-left: 30px;
    font-size: 14px;
    color: #fff;
}
.list-item:hover .sub-list{
    display: block;
}
.list-item>a:hover{
    background: #ff6700;
}
.icon-arrow{
    float: right;
    margin-right: 15px;
    font-size: 16px;
}
.sub-list{
    background: #fff;
    position: absolute;
    left: 234px;
    top: 0;
    height: 458px;
    display: none;
    box-shadow: 0 8px 16px rgba(0,0,0,0.18);
    border: 1px solid #e0e0e0;
    border-left: 0;
}
.sub-list-3{
    width: 795px;
}
.sub-list-4{
    width: 1060px;
}
.sub-list-2{
    width: 530px;
}
.sub-list-1{
    width: 265px;
}
.sub-list li{
    width: 265px;
    overflow: hidden;
    padding: 18px 15px 18px 20px;
}
.sub-list ul{
    float: left;
    height: 100%;
    width: 265px;
}
.sub-list a{
    float: left;
}
.list-img{
    vertical-align: middle;/*图片与字对齐方式：居中对齐*/
}
.list-title{
    color: #333;
    font-size: 14px;
}
.list-img-box{
    width: 168px;
}
.list-img-box:hover .list-title{
    color: #ff6700;
}
.sub-list a.buy-btn{
    float: right;
    width: 58px;
    height: 22px;
    border: 1px solid #ff6700;
    color: #ff6700;
    font-size: 12px;
    text-align: center;
    line-height:22px;
    margin-top:10px;
    margin-right:30px;
}
.sub-list a.buy-btn:hover{
    color: #fff;
    background: #ff6700;
}
/*轮播图结束*/

/*频道列表开始*/
.home-sub{
    margin-top: 14px;
    margin-bottom: 26px;
    height: 170px;
}
.span4{
    position: relative;
}
.home-list{
    width: 228px;
    height: 164px;
    padding: 3px;
    background: #5f5750;
}
.exposure{
    position: relative;
    display: block;
    width: 70px;
    height: 64px;
    padding: 0 3px;
    padding-top:18px;
    float: left;
    text-align: center;
    font-size: 12px;
    /*background: #0f0;*/
}
.exposure a{
    color: rgba(255,255,255,0.7);
}
.exposure a:hover{
    color: #fff;
}
.exposure .icon-home{
    display: block;
    font-size: 25px;
}
.home-list .after{
    position: absolute;
    display: block;
    left: 0;
    top: 6px;
    width: 1px;
    height: 70px;
    background: #665e57;
}
.home-list .after-{
    position: absolute;
    display: block;
    top: -1px;
    left: 6px;
    width: 64px;
    height: 1px;
    background: #665e57;
}
.span16{
    position: absolute;
    margin-left:-1px;
    left: 234px;
    top: 0;
}
.first img{
    float: left;
    width: 316px;
    height: 170px;
    margin-left: 15px;
}
.first img:hover{
    box-shadow: 0px 10px 15px 6px rgba(0,0,0,0.1) ;
}
/*频道列表结束*/

/*明星单品开始*/
.star-box{
    height: 428px;
    position: relative;

}
.star-title{
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
    margin-bottom:-10px;
}
.more-box{
    position: absolute;
    top: 20px;
    right: 0;
}
.icon-star{
    padding: 2px 8px;
    border: 1px solid #e0e0e0;
    color: #e0e0e0;
    font-size: 17px;
    float: left;
    cursor: pointer;
}
.icon-star-more{
    border-left: 0;
    color: #000;
}
.icon-star-more:hover{
    color: #ff6700;
}
.pro-list{
    height: 340px;
    overflow: hidden;
    margin-bottom: 40px;
}
.pro-group{
    height: 340px;
    width: 2480px;
}
.pro-item{
    width: 234px;
    height: 300px;
    background: #fafafa;
    padding-top: 39px;
    float: left;
    margin-right: 14px;
}
.pro-item.pro-item-five{
    margin-right: 0;
}
.pro-item.pro-item-six{
    margin-left: 14px;
}
.color-one{
    border-top: 1px solid #ff6700;
}
.color-two{
    border-top: 1px solid #83c44e;
}
.color-three{
    border-top: 1px solid #2196f3;
}
.color-fore{
    border-top: 1px solid #e53935;
}
.color-five{
    border-top: 1px solid #00c0a5;
}
.pro-img-box{
    display: block;
    text-align: center;
}
.pro-img{
    width: 160px;
    height: 160px;
}
.pro-title{
    display: block;
    height: 21px;
    line-height: 21px;
    text-align: center;
    color: #212121;
    font-size: 14px;
    margin-top:22px;
}
.pro-dest{
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    color: #b0b0b0;
}
.pro-price{
    color: #ff6700;
    font-size: 14px;
    text-align: center;
    margin-top: 12px;
}
/*明星单品结束*/

/*家电开始*/
.content-box{
    background: #f5f5f5;
    padding-top: 60px;
}
.homeelec-box{
    position: relative;
}
.tab-btns{
    color: #424242;
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 17px;
}
.tab-btns li{
    float: left;
    margin-left: 30px;
    cursor: pointer;
}
.active{
    width: 32px;
    height: 24px;
}
.active-two{
    width: 64px;
    height: 24px;
}
.active-five{
    width: 80px;
    height: 24px;
}
.active-three{
    width: 48px;
    height: 24px;
}
.tab-btns .active:hover,.tab-btns .active-two:hover,.tab-btns .active-five:hover,.tab-btns .active-three:hover{
    color: #ff6700;
    border-bottom: 2px solid #ff6670;
}
.box-brick{
    position: absolute;
    top: 371.6px;
}
.brick-item{
    float: left;
    width: 234px;
    height: 300px;
}
.brick-item:hover{
    box-shadow: 0px 10px 15px 6px rgba(0,0,0,0.1) ;
}
.box-bd{
    overflow: hidden;
}
.wrapper-one{
    width: 1226px;
    padding-right:20px;
    padding-top: 10px;
    margin: 0 auto;
}
.box-left{
    float: left;
    position: absolute;
}
.box-left-one{
    float: left;
    width: 234px;
    height: 614px;
}
.box-left:hover{
    box-shadow: 0px 10px 15px 6px rgba(0,0,0,0.1) ;
    animation:top-run 0.1s ease-out forwards ;
}
@keyframes top-run {
    from {top:57.6px;}
    to {top:56.1px;}
}
.box-brick:hover{
    box-shadow: 0px 10px 15px 6px rgba(0,0,0,0.1) ;
    animation:top-run-brick 0.1s ease-out forwards ;
}
@keyframes top-run-brick {
    from {top:371.6px;}
    to {top:370.1px;}
}
.box-right{
    float: right;
    width: 992px;
}
.bd-item{
    position: relative;
    width: 234px;
    height: 246px;
    padding: 34px 0 20px;
    background: #fff;
    margin: 0 0 14px 14px;
    float: left;
}
.bd-item:hover{
    box-shadow: 0px 10px 15px 6px rgba(0,0,0,0.1) ;
    animation:top-run-right 0.1s ease-out forwards ;
}
@keyframes top-run-right {
    from {top:0px;}
    to {top:-1.5px;}
}
.bd-img-box{
    display: block;
    text-align: center;
    margin-bottom: 18px;
}
.bd-img{
    width: 150px;
    height: 150px;
}
.bd-title{
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}
.bd-dest{
    height: 18px;
    font-size: 12px;
    text-align: center;
    color: #b0b0b0;
    margin-bottom: 10px;
}
.bd-price{
    text-align: center;
    color: #ff6700;
    font-size: 14px;
}
.bd-new{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -32px;
    display: block;
    width: 64px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #83c44e;
    font-size: 12px;
    color: #fff;
}
.bd-discount{
    background: #e53935;
}
.bd-new-free{
    background: #ffac13;
}
.bd-item:hover .review{
    display: block;
    animation:show-review 0.3s ease  forwards ;
}
@keyframes show-review {
    100%{
        height: 73.8px;
    }
}
.review{
    position: absolute;
    display: none;
    bottom: 0;
    width: 234px;
    height: 0;
    background: #ff6700;
}
.review-item{
    display: block;
    width: 174px;
    height: 73.8px;
    padding:8px 30px;
}
.review-item-one{
    display: block;
    padding-bottom: 5px;
    color: #fff;
    font-size: 12px;
}
.review-item-two{
    color: rgba(255,255,255,0.6);
    font-size: 12px;
}
.bd-item-small{
    position: relative;
    width: 234px;
    height: 246px;
    padding: 34px 0 20px;
    margin: 0 0 14px 14px;
    float: left;
}
.bd-item-one:hover{
    box-shadow: 0px 10px 15px 6px rgba(0,0,0,0.1) ;
    animation:top-run-small 0.1s ease-out forwards ;
}
@keyframes top-run-small {
    from {top:0px;}
    to {top:-1.5px;}
}
.bd-item-two:hover{
    box-shadow: 0px 10px 15px 6px rgba(0,0,0,0.1) ;
    animation:top-run-small-two 0.1s ease-out forwards ;
}
@keyframes top-run-small-two {
    from {top:157px;}
    to {top:155.5px;}
}
.bd-item-one{
    position: absolute;
    top: 0;
    width: 234px;
    height: 143px;
    background: #fff;
}
.item-small{
    position: relative;
    width: 184px;
    height: 83px;
    margin: 30px 20px 30px 30px;
}
.bd-title-small{
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    padding-top:8px;
    margin-bottom: 12px;
}
.bd-price-small{
    color: #ff6700;
    font-size: 14px;
}
.bd-img-small{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
}
.bd-item-two{
    position: absolute;
    top: 157px;
    width: 234px;
    height: 143px;
    background: #fff;
}
.bd-title-small-two{
    display: block;
    width: 94px;
    height: 44px;
    font-size: 18px;
    color: #333;
}
.bd-dest-small{
    font-size: 12px;
    color: #757575;
}
.icon-right{
    position: absolute;
    top: 0;
    right: 0;
    line-height: 48px;
    font-size: 48px;
    color: #ff6700;
}
.bd-item-two .item-two{
    margin: 50px 20px 10px 30px;
}
/*家电结束*/